.logo-main {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 


nav {
  margin-top: none;
  margin-bottom: none;
  margin-left: 6%;
}

.bg-color {
  background-color: black;
}


nav a:link,
nav a:visited {
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: inline-block;
  padding: 5px 25px;
  border-bottom: 5px solid black;
  transition: background-color 0.2s, color 0.2s, border-bottom 0.2s;
}

nav a:active,
nav a:hover {
  background-color: rgb(236, 236, 236);
  color: black;
  border-bottom-color: orange;
  transition: background-color 0.2s, color 0.2s, border-bottom-color 0.2s;
}